<h1>Welcome to CSE Motors</h1>
<div class="card">
    <div class="card-text">
        
        <h2>DMC Delorean</h2>
        <ul>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <button>Own Today</button>
    </div>
    <div class="card-image">
        <img src="/images/vehicles/delorean.jpg" alt="delorean vehicle" width="300">
    </div>

</div>
<div class="product">
    <div class="product-upgrades">
        <section>
            <h2>Delorean Upgrades</h2>
            <div class="upgrade-grid">
                <div class="card-box">
                    <div class="img-box">
                        <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                    </div>
                    <a href="#">Flux Capacitor</a>
                </div>
                <div class="card-box">
                    <div class="img-box">
                        <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                    </div>
                    <a href="#">Flame Decals</a>
                </div>
                <div class="card-box">
                    <div class="img-box">
                        <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                    </div>
                    <a href="#">Bumper Sticker</a>
                </div>
                <div class="card-box">
                    <div class="img-box">
                        <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                    </div>
                    <a href="#">Hub Caps</a>
                </div>
                
            </div>
            
        </section>

    </div>

    <div class="product-reviews">
        <section>
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>

            </ul>
            
        </section>
    </div>
</div>
