<h1>Welcome to CSE Motors</h1>
<div class="card">
    <div class="card-text">
        
        <h2>DMC Delorean</h2>
        <ul>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <button>Own Today</button>
    </div>
    <div class="card-image">
        <img src="/images/vehicles/delorean.jpg" alt="delorean vehicle" width="300px">
    </div>

</div>
