@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}


html, body {
  
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: url("/images/site/small_check.jpg") center / 100vw  repeat;
}

#wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  
}
.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 
      "header header"
      "nav nav"
      "main main"
      "footer footer";



  min-height: 100vh;
  max-width: 800px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 8px blueviolet solid;

}

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  grid-area: header;
}

.siteName a {
  font-family: 'Faster One', 'Franklin Gothic Medium';
  font-size: 2rem;
  color: rgb(21, 21, 132);
}


nav {
  grid-area: nav;
  padding: 1rem;
  margin: 1rem;
  background-color: black;
  min-width: 0;

}

nav ul {
  display: flex;
  justify-content: space-around;
}

ul li {
  list-style: none;
  color: white;
}

main {
  grid-area: main;

}

.card {
  position: relative;
  width: 100%;
  max-width: 700px;
  height: auto;
  place-self: center;
  margin-top: 20px;


}

h1 {
  padding: 1rem;
  font-size: 2rem;
} 
.card-text {
  position: absolute;
  background-color: rgba(249, 249, 249, 0.427);
  height: auto;
  padding: 1rem;

  
  
}

.card-text li {
  margin-top: 5px;
  font-size: 1.2rem;


}

.card-text button {
  width: 100%;
  height: 50px;
  background-color: blue;
  color: white;
  margin-top: 20px;
}
.card-text , .card-text li {
  color: blue;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;

}
.card-image img {
  max-width: 500px;
  width: 100%;

}

.product {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: 20px;

  

}

.product  h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}



.upgrade-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  

}

.product-upgrades {
  flex: 1;
}
.card-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.img-box {
  background-color: aqua;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  
}


.img-box img {
  width: 50px;
  height: 50px;
  
}

.product-reviews li{

  color: black;
  font-size: 1.2rem;
  margin-top: 10px;

}
footer {
  grid-area: footer;
}

@media (max-width: 600px) {
    
    .product {flex-direction: column;}
}